.tasca-formulari {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tasca-input {
  width: 350px;
  height: 53px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 29px 0 0 29px;
  border: 2px solid #2fa196;
  border-style: solid none solid solid;
  outline: none;
}

/* Boto agregar tasca */

.tasca-boto {
  padding: 16px;
  height: 53px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
  outline: none;
  background: #2fa196;
  color: white;
}

.tasca-boto:hover {
  background: #18dbc8;
}