* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background-color: #6e6ec6;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #402d4b;
  font-size: 29px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 30px 0 50px;
}

.aplicacio-tasques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo free code camp*/

.logo-contenidor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  height: 50px;
}

.tasques-llista-principal {
  width: 600px;
  min-width: 523px;
  min-height: 500px;
  background-color: #ffd4cf;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  box-shadow: -2px 6px 20px 12px #505088;
}